<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/styles.css" rel="stylesheet">
  <script src="/assets/alpine.js" defer=""></script>
  <script>
    // Drag
    window.onload = function() {
      const main = document.querySelector('main')
      function swipe(e){
        const isTouch = e.type === 'touchstart'
        if(!e.target.className.includes('draggable')) return;
        e.target.style.transition = ''

        let start;
        function move(mouse) {
          const x = isTouch ? mouse.touches[0].clientX : mouse.clientX
          if(start==null) start = x;
          const dir = Math.sign(x-start)
          const offsetX = Math.pow(Math.abs(x-start), 1) * dir
          const offsetY = -Math.pow(Math.abs(x-start), 1.2)/10
          e.target.style.transform = 'translate('+offsetX+'px, '+offsetY+'px)'
        }

        function reset() {
          e.target.style.transition = 'transform 500ms cubic-bezier(0, 0, 0.2, 1)'
          e.target.style.transform = 'translate(0px, 0px)'
          if(isTouch){
            window.removeEventListener('touchmove', move);
            window.removeEventListener('touchend', reset);
          }else{
            window.removeEventListener('mousemove', move);
            window.removeEventListener('mouseup', reset);
          }
        }
        if(isTouch){
          window.addEventListener('touchmove', move);
          window.addEventListener('touchend', reset);
        }else {
          window.addEventListener('mousemove', move);
          window.addEventListener('mouseup', reset);
        }
      }
      main.addEventListener('mousedown', swipe)
      main.addEventListener('touchstart', swipe)
    }

  </script>
  <title>Citrouille</title>
</head>
<body>
  <main class="mx-auto max-w-sm my-8 px-4 overflow-x-hidden">
    <header class="flex justify-between">
      <h1 class="text-3xl">Citrouille</h1>
      <button class="btn btn-primary">Add</button>
    </header>
    <article>
      <img draggable="false" class="draggable rounded-xl my-8" src="/images/one.jpg" width="100%"/>
      <fieldset class="grid gap-6">
        <textarea id="notes" placeholder="Notes ..."></textarea>
        <div class="flex items-center gap-2 justify-center" x-data="{ rating: '1' }">
          <template x-for="xxx in 3">
          <label class="group">
            <img x-show="rating >= xxx" width="50" src="/assets/pumpkin-color.svg"/>
            <img x-show="rating < xxx" width="50" src="/assets/pumpkin-plain.svg"/>
            <input x-model="rating" type="radio" :value="xxx" class="hidden"/>
          </label>  
          </template>
        </div>
      </fieldset>
    </article>
  </main>
  
</body>
</html>