<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/styles.css" rel="stylesheet">
  <script src="/assets/alpine.js" defer=""></script>
  <script src="/assets/compressor.js" defer=""></script>
  <script>
    // Compress before sending
    function compressFile(e) {
      const file = e.target.files[0];
      if (!file) return;
      console.log('Compressing', {file})
      new Compressor(file, {
        quality: 0.8,
        width: 1080,
        height: 1920,
        resize: "cover",
        success(result) {
          const formData = new FormData();
          formData.append('photo', result, result.name);
          fetch('/', {method:'POST', body: formData}).then(({url})=> window.location=url)
        },
        error:console.error
      });
    };
  </script>
  <title>Citrouille</title>
</head>
<body x-data="{ submitting: false }">
  <main class="mx-auto max-w-sm mt-8 px-4 overflow-x-hidden">
    <header class="flex justify-between mb-4 items-center">
      <h1 class="text-3xl">Citrouille</h1>
      <label class="link link-primary">Add
        <input type="file" class="hidden" onchange="compressFile(event)"/>
      </label>
    </header>
    <article class="grid gap-8">
      <img x-show="!submitting" class="rounded-xl" src="/images/{{file}}" width="100%" style="aspect-ratio: 9/16;"/>
      <span x-show="submitting">Uploadin ...</span>
      <div class="flex justify-between">
        <a href="/" class="btn btn-accent">Next</a>
        {{!-- <a href="/" class="btn btn-primary">Keep</a> --}}
      </div>
      <fieldset class="grid gap-6">
        <textarea rows="10" class="rounded-md p-2" id="notes" placeholder="Notes ..."></textarea>
        <div class="flex items-center gap-2 justify-center" x-data="{ rating: '1' }">
          <template x-for="index in 3">
          <label class="group cursor-pointer">
            <img x-show="rating >= index" width="50" src="/assets/pumpkin-color.svg"/>
            <img x-show="rating < index" width="50" src="/assets/pumpkin-plain.svg"/>
            <input x-model="rating" type="radio" :value="index" class="hidden"/>
          </label>  
          </template>
        </div>
        <button href="/" class="btn btn-primary">Save</button>
      </fieldset>
    </article>
  </main>
  
</body>
</html>